h1 {
  font-family: 'Syncopate', sans-serif;
}
a {
  color: brown;
}
a:hover {
  color: darkred;
}

.App {
  display: flex;
  height: 100%;
  flex-direction: column;
}

section {
  flex: 1 0 auto;
}

footer, header {
  flex-shrink: 0;
}

header h1 {
  display: inline-block;
  font-family: 'Syncopate', sans-serif;
}

#burgerIcon {
  display: inline-block;
  height: 1.5em;
  vertical-align: middle;
}
