
input, textarea {
    display:block;
    margin: 0 auto .5em auto;
    max-width:100%;
}

#addBurger label {
    font-size: 1.25em;
}

#toggleAddBurger {
    cursor: pointer;
    font-size: 1.25em;
}

.autocomplete-suggestions { 
    border: 1px solid #999; 
    border-top: none;
    background: #FFF; 
    overflow: auto; 
}
.autocomplete-suggestion { 
    padding: 2px 5px; 
    white-space: nowrap; 
    overflow: hidden; 
}

.autocomplete-selected { 
    background: #F0F0F0; 
}

.ratingRadio {
    display: inline;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    font-size:3rem;
    padding: 2px;
}

.ratingRadio input, .ratingRadio i {
    display: inline;
}

.ratingRadio input {
    width:1px;
    opacity: 0;
}

.ratingRadio input:checked + * {
    background: yellow;
    border-radius: 50%;
    border: thin solid yellow;
}

.ratingRadio input + *:hover {
    font-size:3.5rem;
}

.bad {
    color: red;
}
.okay {
    color: brown;
}
.great {
    color: darkgreen;
}

#burgerHistoryTable {
    margin: 1em auto;
    text-align: left;
    max-height: 200px;
    overflow: scroll;
    background-color: rgb(250, 250, 250);
}

#burgerHistoryTable td {
    padding: 0 .5em 0 0;
}

#burgerStatistics {
    display: inline-block;
    margin: .25em auto 0 auto;
    text-align: left;
}

.Button-MR {
    display: inline-block;
    margin-right: .5rem;
}