
#burgerIcon {
  display: inline-block;
  height: 1.5em;
  vertical-align: middle;
}

.Header-EaterPhoto {
  display: inline-block;
  height: 2rem;
  vertical-align: middle;
  margin-right: .25rem;
  border-radius: 50%;
}
